[core]
	hooksPath = ~/workspace/github.com/jim80net/git-hooks-core
	excludesfile = ~/.gitignore
	autocrlf = false
	filemode = false
	trustctime = false
	checkStat = minimal
[transfer]
	fsckobjects = true
[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	cp = cherry-pick
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase master@{u}
[user]
	email = parks@tesla.com
	name = Jim Park
	signingkey = 340C37448CC82A59DF0D6AA44273A4BCF7EBAB91
[commit]
	gpgsign = true
[url "git@git.lo:"]
	insteadOf = https://git.lo/
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	ff = only
	twohead = ort
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[fetch]
	prune = true
[url "ssh://git@github.tesla.com/"]
	insteadOf = https://github.tesla.com/
[rebase]
	autosquash = true
